/* @import "/home/andrew/.cache/wal/colors-waybar.css"; */
* {
    border: none;
    border-radius: 0;
    font-family: "Roboto Bold";
    font-size: 13px;
    /* min-height: 0; */
}

window#waybar {
    background: transparent; 
    /*background: @background;*/
    color: white;
}

#window {
    font-weight: bold;
    background: red;
}

.modules-left {
    border: 4px;
    border-color: red;
    background: black;
    margin: 1px 5px;
    padding: 3px 3px;
    border-radius: 5px;
}

#tray {
    background: #e76f51;
    padding: 2px 8px;
    margin: 1px 3px;
    border-radius: 5px;
}

#window {
    padding: 0px 5px;
    margin: 2px 3px;
    border-radius: 5px;
    background: transparent;
}

.moudules-center {

}

#workspaces {
    background: #000814;
    padding: 0px 0px;
    margin: 1px 0px;
    border-radius: 5px;
}
#workspaces button {
    padding: 0px 5px; 
    margin: 2px 2px;
    background: transparent;
    color: white;
}

#workspaces button.focused {
    background: #2a9d8f;
}

#workspaces button.active {
    background: #0081a7;
    border-radius: 5px;
}

.modules-right {

}

#clock {
    font-weight: bold;
}

#battery icon {
    color: red;
}

#battery.charging {
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network.disconnected {
    background: #f53c3c;
}

#pulseaudio.muted {
}

#custom-power {
    background: #001524;
}

#backlight {
    background: #16C47F;
}

#wireplumber {
    background: #15616d;
}

#network {
    background: #800e13;
}

#cpu {
    background: #ff7d00;
}

#memory {
    background: #78290f;
}

#battery {
    background: #1b4965;
}


#clock {
    background: #606c38;
}

#mode,
#backlight,
#custom-power,
#wireplumber,
#network,
#cpu,
#memory,
#battery,
#clock {
    padding: 0px 8px;
    margin: 2px 3px;
    /* background: rgba(157, 205, 221, 1); */
    border-radius: 5px;
    /* border: 2px solid rgba(255, 255, 255, 0.3); */
}
