@import "./colors.css";

/* Config */
* {
    font-family: "JetbrainsMono NFP SemiBold";
    font-style: italic;
	border-radius: 0;
	box-shadow: none;
}

/* Notification */
.notification {
    background: shade(@base, 1.1);
    color: @surface0;
    border: 3px solid @sky;
    padding: 10px;
}

/* something can click then jump to another place */
.notification-default-action:hover,
.notification-action:hover {
	background: @base;
}

.body {
    color: @mauve;
}

/* Control Center */
.control-center {
	background-color: shade(@base, 1.1);
	color: @mauve;
	border: 3px solid @sky;
	padding: 10px;
}

.summary {
    font-size: 16px;
    font-weight: 400;
    background: transparent;
    color: @mauve;
    text-shadow: none;
}

.time {
    font-size: 16px;
    font-weight: 700;
    background: transparent;
    color: @mauve;
    text-shadow: none;
    margin-right: 18px;
}

.close-button {
    background-color: @base;
    color: @sky;
    margin-top: 5px;
    margin-right: 5px;
    border-radius: 3px;
}


/* too many message group --------start*/
.notification-group {
    background-color: shade(@base, 1.1);
    margin: 2px 8px 2px 8px;
    font-size: 14px;
}

.notification-group-icon {
    color: @mauve;
}

.notification-group-collapse-button,
.notification-group-close-all-button {
    background: @base;
    color: @sky;
    margin: 4px;
    padding: 4px;
}

.notification-group-collapse-button:hover,
.notification-group-close-all-button:hover {
    background: @base;
    color: @sky;
}
/* too many message group --------end */

/* widget title -------start */
.widget-title {
    color: @mauve;
	font-size: small ;
}
.widget-title > button {
    color: @sky;
    background: @base;
    box-shadow: none;
	border: 2px solid @sky;
	border-radius: 3px;
	font-size: 1rem;
}

.widget-title > button:hover {
    background: @sky;
    color: black;
}
/* widget title -------end */

/* widget dnd -----------start */
.widget-dnd {
    background: transparent;
    font-size: large;
    color: @mauve;
	padding: 8px;
}

.widget-dnd > label {
    color: @text;
}

.widget-dnd > switch {
    background: shade(@base, 1.1);
    color: @mauve;
    border-radius: 3px;
    border: 3px solid @sky;
}

.widget-dnd > switch:checked {
    background: black;
}

.widget-dnd switch slider {
	background: @mauve;
	border-radius: 3px;
}
/* widget dnd -----------start */


/* widget music player ---------strat */
.widget-mpris {
}

.widget-mpris-player {
	border-radius: 10px;
    border: 1px solid @sky;
	margin: 0;
	color: @text;
}

.widget-mpris-title{
}
.widget-mpris-subtitle {
}
.widget-mpris button {
    background-color: @base;
    color: @sky;
    border-radius: 3px;
    border: 1px solid @sky;
	margin-top: 8px;
}

.widget-mpris button:hover {
    background-color: @sky;
    color: black;
}
/* widget music player ---------end */

